# Игнорировать папки сборки Maven
**/target/

# IntelliJ IDEA
*.iml
.idea/

# Eclipse
*.classpath
*.project
*.settings/

# Логи, временные файлы
*.log
*.tmp
*.swp

# Операционные системы
.DS_Store
Thumbs.db
